@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Sayfanın tamamını kaplamasını sağlar */
  background-image: url('../public/korcancay.jpg');
  background-size: cover; /* Resmi tüm ekranı kaplayacak şekilde ayarlar */
  background-position: center center; /* Resmin ortalanmasını sağlar */
  background-attachment: fixed; /* Resmin sabit kalmasını sağlar */
  color: white; /* Yazının görünürlüğü için örnek */
}
/* Gece mavisi arka planın kaybolması */
/* @keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.animate-fadeInOut {
  animation: fadeInOut 3s ease-in-out;
}
 */
